<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Farhana - One Page Businesbs Agency Template</title>
  {%- seo -%}
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fondamento" rel="stylesheet">
  <!-- icofont css -->
  <link rel="stylesheet" href="assets/fonts/icofonts/icofont.min.css">
  <!-- owl carousel css -->
  <link rel="stylesheet" href="assets/css/owl.carousel.css">
  <!-- lightbox css -->
  <link rel="stylesheet" href="assets/css/lightbox.min.css">
  <!-- bootstrap css -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <!-- style css -->
  <link rel="stylesheet" href="{{site.url}}/assets/css/style.css">
  {%- feed_meta -%}
  
</head>
